<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Focos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>
        .notify{
            background-color: black;
            min-width: 60px;
            min-height: 60px;
            border-radius: 100%;
        }
        .mt-10{
            margin-top: 10px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="d-flex flex-column">

            <div class="form-gorup mt-10">
                    <label for="estado" class="col-sm-4 form-control-label"><strong>UF</strong></label>
                    <select name="estado" id="estado" class="custom-select col-sm-6">
                        <option value="AC">Acre</option>
                        <option value="AL">Alagoas</option>
                        <option value="AP">Amapá</option>
                        <option value="AM">Amazonas</option>
                        <option value="BA">Bahia</option>
                        <option value="CE">Ceará</option>
                        <option value="DF">Distrito Federal</option>
                        <option value="ES">Espírito Santo</option>
                        <option value="GO">Goiás</option>
                        <option value="MA">Maranhão</option>
                        <option value="MT">Mato Grosso</option>
                        <option value="MS">Mato Grosso do Sul</option>
                        <option value="MG">Minas Gerais</option>
                        <option value="PA">Pará</option>
                        <option value="PB">Paraíba</option>
                        <option value="PR">Paraná</option>
                        <option value="PE">Pernambuco</option>
                        <option value="PI">Piauí</option>
                        <option value="RJ">Rio de Janeiro</option>
                        <option value="RN">Rio Grande do Norte</option>
                        <option value="RS">Rio Grande do Sul</option>
                        <option value="RO">Rondônia</option>
                        <option value="RR">Roraima</option>
                        <option value="SC">Santa Catarina</option>
                        <option value="SP">São Paulo</option>
                        <option value="SE">Sergipe</option>
                        <option value="TO">Tocantins</option>
                    </select>
                </div>


                <ul class="list-group mt-10">
                    <li class="list-group-item list-group-item-action">
                        <div class="d-flex flex-column">                     
                            <main>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-column">
                                        <strong>Floresta da tijuca</strong>
                                        <small>33 notificações</small>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <span class="badge badge-warning">23</span>
                                        <span><small>Hoje</small></span>

                                    </div>
                                </div>
                            </main>
                            
                        </div>
                    </li>    
                </ul>

                <ul class="list-group mt-10">
                    <li class="list-group-item list-group-item-action">
                        <div class="d-flex flex-column">                     
                            <main>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-column">
                                        <strong>Mirante das canoas.</strong>
                                        <small>33 notificações</small>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <span class="badge badge-danger">83</span>
                                        <span><small>ontem</small></span>

                                    </div>
                                </div>
                            </main>
                            
                        </div>
                    </li>    
                </ul>

                
                <ul class="list-group mt-10">
                    <li class="list-group-item list-group-item-action">
                        <div class="d-flex flex-column">                     
                            <main>
                                <div class="d-flex justify-content-between">
                                    <div class="d-flex flex-column">
                                        <strong>Praia Prainha.</strong>
                                        <small>33 notificações</small>
                                    </div>
                                    <div class="d-flex flex-column">
                                        <span class="badge badge-success">13</span>
                                        <span><small>ontem</small></span>

                                    </div>
                                </div>
                            </main>
                            
                        </div>
                    </li>    
                </ul>
        </div>
    </div>
</body>
</html>